
/* Contenedor */
.index-container {
  margin-top: 50px;
  position: fixed;
  width: 270px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
}

.dark .index-container {
  background-color: rgba(9, 9, 11, 0.8);
  box-shadow: 0 1px 10px rgba(255, 255, 255, 0.15);
}

.light .index-container {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1194px) {
  .index-container {
    display: none;
  }
}

/* Secciones */
.h3 {
  margin-left: 15px;
  margin-top: 5px;
}

.h4 {
  margin-left: 30px;
}

a {
  cursor: pointer;
}

.h2 a {
  font-weight: 700;
}


/* Seccion inactiva*/
.inactive-section a {
  opacity: 0.65;
}

.inactive-section a:hover {
  opacity: 1;
}

/* Seccion activa*/
.light .active-section a {
  color: rgb(74, 24, 255)
}

.dark .active-section a {
  color: rgb(255, 0, 179);
}
