.card-container{
    width: 30%;
    min-width: 30vh;
    border: 2px solid white;
    margin: 1% 0%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
}

/* .card-title{
    margin: 5px 0px
} */

.card-title{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    color: #fff;
    margin: 0;
    position:absolute;
    text-shadow: #000 1px 1px 3px;
    width: 100%;
}

.card-description{
    margin: 10px 00px
}


.chip {
    margin:3px 3px;
    margin-top: auto;
}

.post-cover{
    max-width: 50%;
    /* max-height: 100px; */
}