.landing-background {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  padding-top: 30px;
  flex-direction: column;
  min-height: calc(100vh - 30px);
}

.dark .landing-background {
  /* background-color: #09090b; */
  background-color: #008000;
  color: white;
}

.light .landing-background {
  background-color: #ffffff;
  color: black;
}


.container{
    /* margin-left: calc(50% - 440px); */
    /* width: 780px; */
    width: 900px;
    background-color: pink;
    /* padding: 10px 0px; */
    /* width: 100%; */
}

@media (max-width: 920px) {
  .container {
    margin: 0 20px;
    width: auto;
  }
  
}


.retro-border {
  /* width: 100%; */
  text-align: center;
  position: relative;
  padding: 1px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.retro-border::after,
.retro-border::before {
  content: "";
  position: absolute;
  pointer-events: none;
  /* to click through anytime */
  border: solid 3px;
}

.retro-border::after {
  left: 4.5px;
  right: 4.5px;
  top: 0;
  bottom: 0;
  border-left: none;
  border-right: none;
}

.retro-border::before {
  top: 4.5px;
  bottom: 4.5px;
  left: 0;
  right: 0;
  border-top: none;
  border-bottom: none;
}
