.dark {
  color: white;
}

.light {
  color: black;
}

/* Background pagina */
.background-container {
  background-repeat: repeat;
  background-size: auto;
  height: auto;
  width: 100%;
}

.light .background-container {
  background-image: url("./level_curve1.png");
}

.dark .background-container {
  background-image: url("./level_curve2.png");
}

/* Body html */
body {
  margin: 0;
  padding: 0;
}

/* Katex */
.katex {
  font-size: 1.1em;
}
